* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

:root {
  /* primary color */
  --primary-color: #d10a10;
  --primary-color-600: #b9090e;
  --primary-color-700: #88070a;
  --primary-color-800: #570407;
  --primary-color-900: #270203;
  /* secondary color */
  --secondary-color: #f4900e;
  --secondary-color-600: #de820a;
  --secondary-color-700: #ae6608;
  --secondary-color-800: #7d4906;
  --secondary-color-900: #4c2c03;
  /* commom-colors */
  --white: #ffff;
  --black: #000000;
  /* Merino */
  --marino: #f7f0e8;
  --marino-600: #f0e4d5;
  --marino-700: #e3cbaf;
  --marino-800: #d6b289;
  --marino-900: #c99a64;
  /* Dark Terra Cotta */
  --dark-terra-cotta: #d9475c;
  --dark-terra-cotta-600: #d53249;
  --dark-terra-cotta-700: #af2438;
  --dark-terra-cotta-800: #851b2b;
  --dark-terra-cotta-900: #5b131d;
  /* Dogwood rose */
  --dogwood-rose: #d52057;
  --dogwood-rose-600: #bf1d4e;
  --dogwood-rose-700: #92163c;
  --dogwood-rose-800: #660f2a;
  --dogwood-rose-900: #3a0918;
  /* Bittersweet  */
  --bittersweet: #f56c66;
  --bittersweet-600: #f3554e;
  --bittersweet-700: #f0271e;
  --bittersweet-800: #ce160d;
  --bittersweet-900: #9e110a;
}

/* no scrollbar */
::-webkit-scrollbar {
  display: none;
}

/* navigation section */
.header {
  background-color: var(--primary-color); 
  position: absolute;
  width:100%;
}

.link-white {
  color: var(--white);
  text-decoration: none;
}

.link-white:hover {
  color: var(--white);
}

.logo {
  font-weight: bold;
  font-size:17px;
}

.logo:hover {
  color: var(--white);
}

.login-btn {
  display: flex;
  padding:10px 30px;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  border-radius: 5px;
  transition: 0.3s;
}

.login-btn:hover {
  background-color: var(--white);
  color: var(--black);
}

/* Finding match section */

.finding-match {
  background: url(/assets/images/back.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.finding-match .container{
  height:100%;
}

.title {
  text-align: center;
  color: var(--white);
  font-size: 40px;
  font-weight: bold;
}

.search-partner {
  display: flex;
  align-items: center;
  bottom:30px;
}

.selectors-container {
  background-color: var(--white);
  border-radius: 10px;
  display: flex;
  padding: 15px;
}

.search-partner .form-select {
   width: 250px;
   background-color: unset;
   border: none;
}
.form-select:focus{
  outline: 0 !important;
  border:none !important;
  box-shadow:unset  !important;
}
.search-button {
  background-color: var(--primary-color) !important;
  width: 200px;
  padding: 20px !important;
  border-radius: 50px !important;
}

.search-button:hover {
  background-color: var(--primary-color-700) !important;
}

/** Responsive **/
@media (min-width: 992px) {

  .links-list {
    gap: 25px;
    margin-right: 40px;
  }
}

@media (max-width: 600px){
  .header {
    width: 100%;
    z-index: 1;
  }

  .title {
    font-size: 50px;
  }

  .search-partner{
    flex-wrap: wrap;
  }
  .search-partner .form-select {
    width: unset;
 }
 .search-button{
  width:100% !important;
 }
}
